nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='/')
                img(src='/images/logo.png')
        // Collect the nav links, forms, and other content for toggling
        #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='#') Link
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Dropdown
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#') Action
                        li
                            a(href='#') Another action
                        li
                            a(href='#') Something else here
                        li.divider(role='separator')
                        li
                            a(href='#') Separated link
                        li.divider(role='separator')
                        li
                            a(href='#') One more separated link
            form.navbar-form.navbar-left
                .form-group
                    input.form-control(type='text', placeholder='Search')
                button.btn.btn-default(type='submit') Submit
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/register') Login / Register
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Dropdown
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#') Action
                        li
                            a(href='#') Another action
                        li
                            a(href='#') Something else here
                        li.divider(role='separator')
                        li
                            a(href='#') Separated link
                li
                    a.cart-icon.glyphicon.glyphicon-shopping-cart
        // /.navbar-collapse
    // /.container-fluid

