doctype html
html
  head
    title VeloGears
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    include header
    block content
    include footer