extends layout

block content
    .container
        form#registration.center-block
            .form-group
                label Email
                input.form-control(type='email', placeholder='Email')
            .form-group
                label Password
                input.form-control(type='password', placeholder='Password')
            .form-group
                label Repeat password
                input.form-control(type='password', placeholder='Repeat password')
            .form-group
                button.btn.btn-default Submit