body,
html {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
nav.navbar-default {
  background-color: rgba(163, 193, 252, 0.3);
  min-height: 75px;
  padding: 10px;
}
nav.navbar-default img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}
nav.navbar-default li > a.cart-icon {
  font-size: x-large;
  color: coral;
}
nav.navbar-default li > a.cart-icon:hover {
  color: chocolate;
  cursor: pointer;
}
form#registration {
  max-width: 500px;
  padding: 20px;
  background: rgba(163, 193, 252, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
